{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'accounts-list' %}">Go back</a></p>
<form action="" method="POST">
    {% csrf_token %}
    <label for="iban">Iban number:</label>
    <select name="iban1" id="iban">
        {% for country_code in country_codes %}
    <option value="{{country_code}}">{{country_code}}</option>
        {% endfor %}
    </select>
    <input type="text" name="iban2" id="iban"><br>
<label for="swift">Swift code:</label>
<input type="text" id="swift" name="swift"><br>
<label for="bank">Bank:</label>
<select name="bank" id="bank">
    {% for bank in banks %}
    <option value="{{bank.name}}">{{bank.name}}</option>
    {% endfor %}
</select><br>
<label for="company">Company:</label>
<select name="company" id="company">
    {% for company in companies %}
    <option value="{{company.name}}">{{company.name}}</option>
    {% endfor %}
</select><br>
    <button type="submit">Save</button>
</form>
{{message}}
{% endblock %}