{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'dashboard' %}">Go back</a></p>
<a href="{% url 'account-create' %}">Create account</a>
<table>
    <thead>
        <tr>
            <th>Company</th>
            <th>Country</th>
            <th>Bank</th>
            <th>Iban number</th>
            <th>Swift</th>
            <th colspan="2">Additional options</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{account.company}}</td>
            <td>{{account.company.country}}</td>
            <td>{{account.bank}}</td>
            <td>{{account.iban_number}}</td>
            <td>{{account.swift_code}}</td>
            <td><a href="{% url 'account-edit' account_id=account.id %}">Edit</a></td>
            <td><a href="{% url 'account-delete' account_id=account.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}