{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'dashboard' %}">Go back</a></p>
<p><a href="{% url 'admin-create' %}">Create new</a></p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Login</th>
            <th colspan="3">Additional options</th>
        </tr>
    </thead>
    <tbody>
    {% for admin in admins %}
        <tr>
            <td>{{admin.name}}</td>
            <td>{{admin.surname}}</td>
            <td>{{admin.login}}</td>
            <td><a href="{% url 'admin-edit' admin_id=admin.id %}">Edit</a></td>
            <td><a href="{% url 'admin-password-reset' admin_id=admin.id %}">Password reset</a></td>
            <td><a href="{% url 'admin-delete' admin_id=admin.id %}">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}