<!DOCTYPE html>
<html lang="en">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p><a href="{% url 'company-list' %}">Go back</a></p>
    <a href="{% url 'add-account' company_id=company.id %}">Add accounts</a>
    <a href="{% url 'company-view-delete' company_id=company.id %}">Delete</a>
    <p><strong>Company name:</strong> {{company.name}}</p>
    <p><strong>Company country:</strong> {{company.country}}</p>
    <h2>Accounts:</h2>
    <table>
        <thead>
            <tr>
                <th>Iban number</th>
                <th>Swift code</th>
                <th>Bank</th>
                <th>Additional options</th>
            </tr>
        </thead>
            <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{account.iban_number}}</td>
                    <td>{{account.swift_code}}</td>
                    <td>{{account.bank}}</td>
                    <td><a href="{% url 'company-delete-accounts' company_id=company.id account_id=account.id %}">Delete</a></td>
                </tr>
            {% endfor %}
    </tbody>
    </table>
</body>
</html>