{% extends 'base.html' %}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>
<p><a href="{% url 'users-list' %}">Go back</a></p>
    <a href="{% url 'user-edit' user_id=user_id %}">Edit User</a>
    <a href="{% url 'user-view-delete' user_id=user_id %}">Delete user</a>
    <a href="{% url 'user-add-accounts' user_id=user_id %}">Add accounts</a>
    <p><strong>User name:</strong> {{name}}</p>
    <p><strong>User Surname:</strong> {{surname}}</p>
    <p><strong>Internal ID:</strong>{{internal_id}}</p>
    <h3><strong>Access:</strong></h3>
    <label for="administrator">Administrator:</label>
        <input type="checkbox" name='administrator' id="administrator"
               {% if not is_administrator %} disabled {% else %} disabled checked {% endif %}>
    <br>
    <label for="approver">Payment approver</label>
        <input type="checkbox" name='approver' id="approver"
               {% if not is_payment_approver %} disabled {% else %} disabled checked {% endif %}>
    <br>
    <label for="creator">Payment creator:</label>
        <input type="checkbox" name='administrator' id="creator"
               {% if not is_payment_creator %} disabled {% else %} disabled checked {% endif %}>
    <br>
    <label for="delete">Can delete payment</label>
        <input type="checkbox" name='delete' id="delete"
               {% if not can_delete_payment %} disabled {% else %} checked disabled {% endif %}>
    <br>
    <h3>Accounts</h3>

    <table>
        <thead>
            <tr>
                <th>Company</th>
                <th>Bank</th>
                <th>IBAN</th>
                <th>Swift</th>
                <th>Additional options</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{account.company}}</td>
                <td>{{account.bank}}</td>
                <td>{{account.iban_number}}</td>
                <td>{{account.swift_code}}</td>
                <td><a href="{% url 'user-remove-accounts' user_id=user_id account_id=account.id%}">Remove</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}