{% extends 'base.html' %}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>
<p><a href="/Users/user-list">Go back</a></p>
    <a href="/Users/user-edit">Edit User</a>
    <a href="/Users/user-delete">Delete user</a>
    <a href="/Users/user-add-accounts">Add accounts</a>
    <p><strong>First name:</strong> {{first_name}}</p>
    <p><strong>Last name:</strong> {{last_name}}</p>
    <p><strong>Username:</strong>{{username}}</p>
    <h3><strong>Access:</strong></h3>
    <label for="is_superuser">Superuser:</label>
        <input type="checkbox" name='is_superuser' id="is_superuser"
               {% if not superuser %} disabled {% else %} disabled checked {% endif %}>
    <br>
    <label for="can_approve">Payment approver</label>
        <input type="checkbox" name='can_approve' id="can_approve"
               {% if not is_payment_approver %} disabled {% else %} disabled checked {% endif %}>
    <br>
    <label for="can_create">Payment creator:</label>
        <input type="checkbox" name='can_create' id="can_create"
               {% if not is_payment_creator %} disabled {% else %} disabled checked {% endif %}>
    <br>
    <label for="can_delete">Can delete payment</label>
        <input type="checkbox" name='can_delete' id="can_delete"
               {% if not can_delete_payment %} disabled {% else %} checked disabled {% endif %}>
    <br>
    <h3>Accounts</h3>

    <table>
        <thead>
            <tr>
                <th>Company</th>
                <th>Bank</th>
                <th>IBAN</th>
                <th>Swift</th>
                <th>Additional options</th>
            </tr>
        </thead>
<!--        <tbody>-->
<!--            {% for account in accounts %}-->
<!--            <tr>-->
<!--                <td>{{account.company}}</td>-->
<!--                <td>{{account.bank}}</td>-->
<!--                <td>{{account.iban_number}}</td>-->
<!--                <td>{{account.swift_code}}</td>-->
<!--                <td><a href="{% url 'user-remove-accounts' user_id=user_id account_id=account.id%}">Remove</a></td>-->
<!--            </tr>-->
<!--            {% endfor %}-->
<!--        </tbody>-->
    </table>
</body>
{% endblock %}