{% extends 'base.html' %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<body>
<p><a href="/Users/user_list">Go back</a></p>
{#    <a href="/Users/user_edit/{{user.id}}">Edit User</a>#}
{#    <a href="/Users/user_delete/{{user.id}}">Delete user</a>#}
{#    <a href="/Users/user-add-accounts">Add accounts</a>#}
    <p><strong>Name:</strong> {{first_name}}</p>
    <p><strong>Surname:</strong> {{last_name}}</p>
    <p><strong>Email:</strong> {{email}}</p>
    <p><strong>Username:</strong> {{username}}</p>
    <h3><strong>Access:</strong></h3>
    <div class="table">
    <label for="can_approve">Payment approver:</label>
        <input type="checkbox" name='can_approve' id="can_approve"
               {% if not is_payment_approver %} disabled {% else %} disabled checked {% endif %}>
    <br>
    <label for="can_create">Payment creator:</label>
        <input type="checkbox" name='can_create' id="can_create"
               {% if not is_payment_creator %} disabled {% else %} disabled checked {% endif %}>
    <br>
    <label for="can_delete">Can delete payment:</label>
        <input type="checkbox" name='can_delete' id="can_delete"
               {% if not can_delete_payment %} disabled {% else %} checked disabled {% endif %}>
    </div>
    <br>
    <h3><strong>Accounts:</strong></h3>
    <div class="table">
    <table>
        <thead>
            <tr>
                <th>Company</th>
                <th>Bank</th>
                <th>IBAN</th>
                <th>Swift</th>
                <th>Additional options</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{account.company}}</td>
                <td>{{account.bank}}</td>
                <td>{{account.iban_number}}</td>
                <td>{{account.swift_code}}</td>
                <td><a href="{% url 'user-remove-accounts' user_id=user_id account_id=account.id%}">Remove</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
{% endblock %}