{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'users-list' %}">Go back</a></p>
<form action="" method="POST">
    {% csrf_token %}
    <label for="user_name">User name:</label>
        <input type="text" name='user_name' id='user_name' placeholder="User name" value="{{user.name}}" disabled>
    <br>
    <label for="user_surname">User surname:</label>
        <input type="text" name='user_surname' id='user_surname' placeholder="User surname" value="{{user.surname}}">
    <br>
    <label for="internal_id">Internal ID:</label>
        <input type="text" name='internal_id' id='internal_id' value="{{user.internal_id}}" disabled>
    <br>
    <label for="administrator">Administrator</label>
        <input type="checkbox" name='administrator' id="administrator"
               {% if user.is_administrator %} checked {% endif %}>
    <br>
    <label for="approver">Payment approver</label>
        <input type="checkbox" name='approver' id="approver"
               {% if user.is_payment_approver %} checked {% endif %}>
    <br>
    <label for="creator">Payment creator</label>
        <input type="checkbox" name='creator' id="creator"
               {% if user.is_payment_creator %} checked {% endif %}>
    <br>
    <label for="delete">Can delete payment</label>
        <input type="checkbox" name='delete' id="delete"
               {% if user.can_delete_payment %} checked {% endif %}>
    <br>
    {{message}}<br>
    <button type="submit">Save</button>
</form>
{% endblock %}