{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'Users:user-list' %}">Go back</a></p>
<form action="" method="POST">
    {% csrf_token %}
<p>{{ message }}</p>
<p>Username: {{ user.username }}</p>
    <table>
  <thead>
    <tr>
        <th>Company</th>
        <th>Bank</th>
        <th>Iban number</th>
        <th>Swift</th>
        <th>Creator</th>
        <th>Approver</th>
        <th>Can delete</th>
    </tr>
  </thead>
    <tbody>
            {% for account in available_accounts %}
        <tr>
            <td>{{account.company}}</td>
            <td>{{account.bank}}</td>
            <td>{{account.iban_number}}</td>
            <td>{{account.swift_code}}</td>
            <td><input type="checkbox" name="can_create"></td>
            <td><input type="checkbox" name="can_approve"></td>
            <td><input type="checkbox" name="can_delete"></td>
        </tr>
            {% endfor %}
    </tbody>
</table>
    <button type="submit">Save</button>
</form>
{% endblock %}