{% extends 'base.html' %}
{% block content %}
<p><a href="/Users/user_list">Go back</a></p>
<form action="" method="POST">
    {% csrf_token %}
    <label for="first_name">First name:</label>
        <input type="text" name='first_name' id='first_name' placeholder="First name" value="{{user.first_name}}" disabled>
    <br>
    <label for="last_name">Last name:</label>
        <input type="text" name='last_name' id='last_name' placeholder="Last name" value="{{user.last_name}}">
    <br>
    <label for="username">Username:</label>
        <input type="text" name='username' id='username' value="{{user.username}}" disabled>
    <br>
    <label for="email">Email:</label>
    <input type="email" name='email' id='email' placeholder='Email' value="{{user.email}}">
    <br>
    <label for="department">Department:</label>
    <select id="department" name="department">
        <option value="{{ user.department }}" selected>{{ user.department }}</option>
        {% for department in departments %}
        <option value="{{ department }}">{{ department }}</option>
        {% endfor %}
    </select>
{#    <br>#}
{#    <label for="can_create">Payment creator</label>#}
{#        <input type="checkbox" name='can_create' id="can_create"#}
{#               {% if user.is_payment_creator %} checked {% endif %}>#}
{#    <br>#}
{#    <label for="can_delete">Can delete payment</label>#}
{#        <input type="checkbox" name='can_delete' id="can_delete"#}
{#               {% if user.can_delete_payment %} checked {% endif %}>#}
    <br>
    {{message}}<br>
    <button type="submit">Save</button>
</form>
{% endblock %}