{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'dashboard' %}">Go back</a></p>
<p><a href="{% url 'Companies:company-create' %}">New Company</a></p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th colspan="3">Additional options</th>
        </tr>
    </thead>
    <tbody>
    {% for company in object_list %}
        <tr>
            <td>{{company.name}}</td>
            <td>{{company.country}}</td>
            <td><a href="{% url 'Companies:company-detail' pk=company.pk %}">View</a></td>
            <td><a href="{% url 'Companies:company-edit' pk=company.pk %}">Edit</a></td>
            <td><a href="{% url 'Companies:company-delete' pk=company.pk %}">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

