{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'dashboard' %}">Go back</a></p>
<p><a href="{% url 'Banks:bank-create' %}">New bank</a></p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th colspan="3">Additional options</th>
        </tr>
    </thead>
    <tbody>
        {% for bank in object_list %}
        <tr>
            <td>{{bank.name}}</td>
            <td><a href="{% url 'Banks:bank-view' %}">View</a></td>
            <td><a href="{% url 'Banks:bank-edit' bank.id %}">Edit</a></td>
            <td><a href="/Banks/bank_delete/{{bank.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}