{% extends 'base.html' %}
{% block content %}
<body>
    <p><a href="{% url 'Banks:bank-list' %}">Go back</a></p>
    <p>Bank name: {{ object.name }}</p>
    <h2>Accounts:</h2>
    <table>
        <thead>
            <tr>
                <th>Company</th>
                <th>Iban number</th>
                <th>Swift code</th>
                <th>Bank</th>
            </tr>
        </thead>
<!--            <tbody>-->
<!--            {% for account in accounts %}-->
<!--                <tr>-->
<!--                    <td>{{account.company}}</td>-->
<!--                    <td>{{account.iban_number}}</td>-->
<!--                    <td>{{account.swift_code}}</td>-->
<!--                    <td>{{account.bank}}</td>-->
<!--                    <td><a href="{% url 'bank-account-delete' bank_id=bank.id account_id=account.id %}">Delete</a></td>-->
<!--                </tr>-->
<!--            {% endfor %}-->
<!--    </tbody>-->
    </table>
</body>
{% endblock %}